### Authors: Fatih Agirtmis, Maria Handschu, Ryan Amarsingh

# Control Structures in Python

For this assignment, we decided to focus on Boolean expressions and if statements for our Control Structures. We did 
however, utilize loops and lists (other control structures) in this process as well. Please reach out if you have any questions or concerns.

In [28]:
import sys
import csv
import time
import colorama
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from colorama import init
from selenium import webdriver
from colorama import Fore, Back, Style
print("Packages Imported.")

Packages Imported.

In [29]:
filename = '/Users/fagirtmi1/Documents/UNCC/Coursework/Senior_Year/Fall_2018/ITCS_4102/Project/Assignment_1/Datasets/Youtube/data.csv'

In [30]:
# You the python data-structure 'dataframes' to load the csv
data = pd.read_csv(filename)

In [31]:
# Take a peak at the dataset by getting the top 10 rows
data.head(10)

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433
5,6th,A++,Movieclips,30243,17149705,16618094724
6,7th,A++,netd müzik,8500,11373567,23898730764
7,8th,A++,ABS-CBN Entertainment,100147,12149206,17202609850
8,9th,A++,Ryan ToysReview,1140,16082927,24518098041
9,10th,A++,Zee Marathi,74607,2841811,2591830307

## `if` Statements

You can use `if` statements to run code if certain condition holds. If an expression evaluates to `True`, some statements are carried out. Otherwise, they aren't carried out.
An `if` statements looks like this:
```python
if expression:
  statements
```

Python uses __indentation__ (white space at beginning of a line) to delimit block of code. Other languages, such as C, use curly braces to accomplish this, but in Python indentation is mandatory; programs won't work without it. As you can see, the statements in the `if` should be indented.

Here is an example `if` statement:

In [32]:
# Print the top ten Ranks and Video Views of the Youtube dataset 
for index, row in data.iterrows():
    print(row['Rank'], row['Video views'])
    if(index >= 9): # Break after the first ten values
        break

1st 20869786591
2nd 47548839843
3rd 9793305082
4th 22675948293
5th 26273668433
6th 16618094724
7th 23898730764
8th 17202609850
9th 24518098041
10th 2591830307

In this example, we are looping through the Youtube dataset and returning the top ten values with 
regard to the Rank and Video Views columns by an if statement that breaks when the index passes 9. 
Also, you can clearly see the importance of indentation as the if statement is nested in the for loop 
and the break statement inside if statement.

## `else` Statements

An `else` statement follows an `if` statement, and contains code that is called when the if statement evaluates to `False`.
As with `if` statements, the code inside the block should be indented.

Here is an example `elif` and `else` statement:

In [34]:
data.Subscribers = pd.to_numeric(data.Subscribers, errors='coerce') # cast Subscribers from an objec to a numeric datatype

# Create a list to store the data
subscriber_grades = []

# For each row in the column,
for row in data['Subscribers']:
    # if more than a value,
    if row > 1000000:
        # Append a letter grade
        subscriber_grades.append('A')
    # else, if more than a value,
    elif row > 500000:
        # Append a letter grade
        subscriber_grades.append('A-')
    # else, if more than a value,
    elif row > 250000:
        # Append a letter grade
        subscriber_grades.append('B')
    # else, if more than a value,
    elif row > 100000:
        # Append a letter grade
        subscriber_grades.append('B-')
    # else, if more than a value,
    elif row > 50000:
        # Append a letter grade
        subscriber_grades.append('C')
    # else, if more than a value,
    elif row > 10000:
        # Append a letter grade
        subscriber_grades.append('C-')
    else:
        # Append a failing grade
        subscriber_grades.append('Failed')
        
# Create a column from the list
data['Subscriber Grades'] = subscriber_grades

In this example, we are creating an empty list called "subscriber_grades", where we aim to use if, elif, and else statements
to populate this list and classify a rank or grade for the number of subscribers.

In [46]:
data.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views,Subscriber Grades
0,1st,A++,Zee TV,82757,18752951.0,20869786591,A
1,2nd,A++,T-Series,12661,61196302.0,47548839843,A
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251.0,9793305082,A
3,4th,A++,SET India,27323,31180559.0,22675948293,A
4,5th,A++,WWE,36756,32852346.0,26273668433,A

We have now added a new column called "subscriber_grades" to our dataset.

## Boolean Logic

Boolean logic is used to make more complicated conditions for `if` statements that rely on more than one condition.
Python's Boolean operators are `and`, `or`, and `not`.

### *Boolean `and`*

The `and` operator takes two arguments and evaluate to `True` if, and only if, both of its arguments are `True`.
Otherwise, it evaluates to `False`.
```python

>>> 1 == 1 and 2 == 2
True
>>> 1 == 1 and 2 == 3
False
>>> 1 != 1 and 2 == 2
False
>>> 2 < 1 and 3 > 6
False
```

### Example:

In [81]:
data['Video Uploads'] = pd.to_numeric(data['Video Uploads'], errors='coerce') # cast Video Uploads from an objec to a numeric datatype

for index, row in data.iterrows():
    # if more than a value,
    if row['Subscriber Grades'] == 'B' and row['Video Uploads'] > 10000:
        print(index, row['Channel name'])
        if(index >= 10000): # Break after the first ten values
            break

404 Alpha TV Greece
1132 SETN三立新聞網
1666 SBS 뉴스
1748 SBS Culture
1822 BrawlBRSTMs3 X
2271 TVBUSAofficial
2313 Truyền Hình Đồng Tháp
2472 台灣蘋果日報
2906 Televízia JOJ
2915 VTV24
2953 三立LIVE新聞
3258 壹週刊 NEXT
3297 GTV News
3833 Doğan Music Company
4112 民視綜合頻道
4314 tvOneNews
4540 İşte Benim Stilim
4548 Colors Bangla
4746 BeritaSatuTV
4755 moviecollectionjp
4881 Official iNews

In this example, we're iterating through the Youtube dataset and checking for channel names that have subscriber grade 
of 'B' and a count of video uploads that are greater than 10000.

### *Boolean `or`*
The `or` operator also takes two arguments.
It evaluates to `True` if either (or both) of its arguments are `True`, and `False` if both arguments are `False`.
```python
>>> 1 == 1 or 2 == 2
True
>>> 1 == 1 or 2 == 3
True
>>> 1 != 1 or 2 == 2
True
>>> 2 < 1 or 3 > 6
False
```

### Example:

In [ ]:
for index, row in data.iterrows():
    # if more than a value,
    if row['Subscriber Grades'] == 'B' or row['Subscriber Grades'] == 'C':
        print(index, row['Channel name'], row['Subscriber Grades'])
        if(index >= 1000): # Break after the first ten values
            break

In this example, we're iterating through the Youtube dataset and checking if 'Subscriber grade' is equal to B or C.

### *Boolean Not*
Unlike other operators we've seen so far, `not` only takes one argument, and inverts it.
The result of `not True` is `False`, and `not False` goes to `True`.
```python
>>> not 1 == 1
False
>>> not 1 > 7
True
```
You can chain multiple conditional statements in an `if` statement using the Boolean operators.